.formulario{
    background-color: $blanco;
    padding: 8rem;
    border-radius: 1rem;
    h1{
        text-align: center;
        margin-bottom: 5rem;
        color: $azul;
        font-size: 2rem;
        @include adaptar(768px){
            font-size: 3rem;
        }
    }
}
.contenedor-pregunta{
    label{
        display: block;
        margin: 2rem 0;
        font-size: 1.8rem;
        color: $azul;
        font-weight: bold;
        text-align: center;
        @include adaptar(768px){
            font-size: 2.2rem;
            text-align: left;
        }
    }
    select{
        appearance: none;
        padding: .8rem 2rem;
        width: 100%;
        border-radius: 5px;
        border: 2px solid $amarillo;
        outline: none;
        font-size: 1.8rem;
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
        background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
        @include adaptar(768px){
            font-size: 2rem;
        }
      
    }
     
}
.resultado p{
    font-size: 1.8rem;
    text-align: center;
    @include adaptar(768px){
        font-size: 2rem;
        text-align: left;
    }
}


.btn-ayuda{
    background-color: black;
    color:$blanco;
    border-radius: 50%;
    margin-bottom: 2rem;
    border: none;
}